.button {
  display: flex;
  /* width: 8em; */
  height: 3.3em;
  padding: 7px 20px;
  border-radius: 8px;
  border:none;
  background: rgb(25, 29, 36);
  color: rgb(225, 225, 225);
  align-items: center;
  font-size: 16px;
  font-weight: 800;
}

.button:hover {
  background: rgb(28, 34, 45);
}