.starRatingContainer {
  text-align: center;
  align-items: center;
  /* margin: 0px auto; */
  /* user-select: none; */
  /* color: #ffc107; */
  color: #e4e5e9;
  size: 30;
}

.star {
  /* color: #ffc107; */
}

.rated {
  color: #ffc107;
}